* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}

/* NAVBAR  */

.navbar {
  width: 100%;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 45px;

  border-bottom: 1px solid #ececec;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  font-size: 26px;
  color: #ef1111;
}

.logo-text h2 {
  color: #ef1111;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.logo-text p {
  color: #666;
  font-size: 11px;
  margin-top: 3px;
}

/* Nav Links */

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;

  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;

  font-size: 16px;
  font-weight: 500;

  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ef1111;
}

.nav-links .active {
  color: #ef1111;
}

.nav-links .active::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -8px;

  width: 100%;
  height: 2px;

  background: #ef1111;
  border-radius: 20px;
}

/* Emergency Button */

.emergency-btn {
  background: #ef1111;
  color: white;

  border: none;
  outline: none;

  padding: 13px 19px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.emergency-btn i {
  margin-right: 7px;
}

.emergency-btn:hover {
  background: #d80d0d;
}

/*  SECTION  */

.hero {
  background: #fff5f5;

  border-radius: 16px;

  padding: 55px 70px;
}

.main-hero {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left Side */

.hero-left {
  width: 48%;
}

.hero-left h1 {
  font-size: 50px;
  line-height: 1.2;
  color: #111827;
}

.hero-left h1 span {
  color: #ef1111;
}

.hero-left p {
  font-size: 15px;
  color: #555;

  line-height: 1.8;
  margin-top: 15px;
}

/* Buttons */

.hero-buttons {
  display: flex;
  gap: 18px;

  margin-top: 30px;
}

.primary-btn {
  background: #ef1111;
  color: white;

  border: none;

  padding: 12px 25px;

  border-radius: 8px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #d80d0d;
}

.secondary-btn {
  background: transparent;
  color: #ef1111;

  border: 2px solid #ef1111;

  padding: 12px 25px;

  border-radius: 8px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn:hover {
  background: #ef1111;
  color: white;
}

/* Right Side */

.hero-right {
  width: 42%;
  text-align: center;
}

.hero-right img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

/* DONOR SECTION */

.donor-section {
  max-width: 1000px;
  margin: 0 auto;
}

/* FILTER */

.blood-filter h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #111827;
}

.filter-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-buttons button {
  padding: 13px 38px;

  border: 1px solid #ddd;
  background: white;

  border-radius: 8px;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

.filter-buttons button:hover {
  border-color: #ef1111;
  /* color: #ef1111; */
}

.filter-buttons .active {
  background: #ef1111;
  color: white;
  border-color: #ef1111;
}

/* WRAPPER */

.donor-wrapper {
  display: flex;
  justify-content: space-between;

  gap: 25px;

  margin-top: 25px;
}

/* LEFT */

.donor-list {
  width: 58%;

  background: white;

  border: 1px solid #eee;
  border-radius: 10px;

  padding: 22px;
}

/* TITLE */

.section-title {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 20px;
}

.section-title i {
  color: #ef1111;
  font-size: 18px;
}

.section-title h3 {
  font-size: 24px;
  color: #111827;
}

/* CARD */

.donor-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 0;

  border-top: 1px solid #eee;
}

.donor-info {
  display: flex;
  align-items: center;
  gap: 18px;
}

.donor-info img {
  width: 60px;
  height: 60px;
}

.details h4 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #111827;
}

.details p {
  font-size: 15px;
  color: #555;

  margin-bottom: 5px;
}

.details i {
  color: #ef1111;
  margin-right: 6px;
}

/*CONTACT BUTTON */

.contact-btn {
  background: white;
  color: #ef1111;

  border: 1.5px solid #ef1111;

  padding: 11px 24px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #ef1111;
  color: white;
}

/* VIEW DONOR */

.view-donor {
  display: block;
  text-align: center;

  margin-top: 18px;

  text-decoration: none;

  color: #ef1111;
  font-weight: 600;
}

.no-donor{
  text-align: center;

  color: #777;
  font-size: 18px;

  margin-top: 40px;

  display: none;
}

/* RIGHT SIDE  */

.request-box {
  width: 40%;

  background: white;

  border: 1px solid #eee;
  border-radius: 10px;

  padding: 22px;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

form input,
form select,
form textarea {
  width: 100%;

  padding: 14px;

  border: 1px solid #ddd;
  border-radius: 6px;

  font-size: 14px;

  outline: none;
}

form textarea {
  height: 90px;
  resize: none;
}

.send-btn {
  background: #ef1111;
  color: white;

  border: none;

  padding: 14px;

  border-radius: 6px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #d90d0d;
}

/*FOOTER */

.footer {
  background: #fff;

  border-top: 1px solid #eee;

  margin-top: 50px;

  padding: 30px 0;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 40px;
}

/* CONTACT  */

.footer-contact {
  display: flex;
  align-items: flex-start;

  gap: 15px;
}

.phone-icon {
  width: 48px;
  height: 48px;

  background: #fff1f1;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-icon i {
  color: #ef1111;
  font-size: 18px;
}

.contact-text h3 {
  font-size: 16px;
  color: #111827;

  margin-bottom: 5px;
}

.contact-text p {
  font-size: 14px;
  color: #666;

  margin-bottom: 8px;
}

.contact-text h2 {
  font-size: 18px;
  color: #ef1111;
}

/* LINKS */

.footer-links h3 {
  font-size: 16px;
  color: #111827;

  margin-bottom: 12px;
}

.links-wrapper {
  display: flex;
  gap: 50px;
}

.links-wrapper ul {
  list-style: none;
}

.links-wrapper ul li {
  margin-bottom: 10px;
}

.links-wrapper ul li a {
  text-decoration: none;

  color: #555;
  font-size: 14px;

  transition: 0.3s;
}

.links-wrapper ul li a:hover {
  color: #ef1111;
}

/*SOCIAL*/

.footer-social h3 {
  font-size: 16px;
  color: #111827;

  margin-bottom: 14px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  width: 36px;
  height: 36px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-decoration: none;

  font-size: 14px;
}

.social-icons a:nth-child(1) {
  background: #1877f2;
}

.social-icons a:nth-child(2) {
  background: #1da1f2;
}

.social-icons a:nth-child(3) {
  background: #e1306c;
}

/* LOGO */

.footer-logo {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.logo-box {
  display: flex;
  align-items: flex-start;

  gap: 10px;
}

.logo-box i {
  color: #ef1111;
  font-size: 24px;

  margin-top: 2px;
}

.logo-box h2 {
  font-size: 24px;
  color: #111827;

  line-height: 1;
}

.logo-box p {
  font-size: 14px;
  color: #666;

  margin-top: 5px;
}

.footer-logo span {
  font-size: 13px;
  color: #777;
}

 /* ================= LARGE LAPTOP ================= 

=========================
TABLET RESPONSIVE
========================= 

@media (max-width: 992px) {
  .navbar {
    padding: 15px 25px;
    flex-wrap: wrap;
    gap: 18px;
  }

  .nav-links {
    gap: 22px;
  }

  .hero {
    padding: 40px 30px;
  }

  .main-hero {
    flex-direction: column;
    text-align: center;
    gap: 35px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-right img {
    max-width: 420px;
  }

  .donor-wrapper {
    flex-direction: column;
  }

  .donor-list,
  .request-box {
    width: 100%;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 35px;
    padding: 0 20px;
  }
}

 =========================
MOBILE RESPONSIVE
========================= 

@media (max-width: 768px) {
  ================= NAVBAR =================

  .navbar {
    padding: 16px 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    position: relative;
  }

  .logo {
    width: auto;
  }

  .logo i {
    font-size: 28px;
  }

  .logo-text h2 {
    font-size: 28px;
  }

  .logo-text p {
    font-size: 13px;
  }

  HIDE NAV LINKS

  .nav-links {
    display: none;
  }

  HIDE BUTTON

  .emergency-btn {
    display: none;
  }

  HAMBURGER ICON

  .menu-icon {
    display: block;

    font-size: 30px;
    color: #111827;

    cursor: pointer;
  }

  ================= HERO =================

  .hero {
    padding: 45px 22px;
    border-radius: 14px;
  }

  .main-hero {
    flex-direction: column;
    text-align: center;

    gap: 35px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 56px;
    line-height: 1.2;
  }

  .hero-left p {
    font-size: 19px;
    line-height: 1.8;

    margin-top: 16px;
  }

  .hero-buttons {
    justify-content: center;
    gap: 16px;

    margin-top: 28px;
  }

  .primary-btn,
  .secondary-btn {
    padding: 16px 28px;

    font-size: 18px;

    border-radius: 10px;
  }

  .hero-right img {
    width: 100%;
    max-width: 380px;
  }

  ================= DONOR SECTION =================

  .donor-section {
    padding: 0 18px;
  }

  .blood-filter h2 {
    font-size: 34px;
    margin-bottom: 22px;
  }

  .filter-buttons {
    gap: 12px;
  }

  .filter-buttons button {
    padding: 14px 20px;

    font-size: 17px;
    border-radius: 10px;
  }

  ================= CARDS ================= .donor-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .donor-list,
  .request-box {
    width: 100%;

    padding: 24px;
    border-radius: 14px;
  }

  .section-title h3 {
    font-size: 30px;
  }

  .section-title i {
    font-size: 24px;
  }

  .donor-card {
    padding: 18px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
  }

  .donor-info {
    gap: 16px;
  }

  .donor-info img {
    width: 70px;
    height: 70px;
  }

  .details h4 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .details p {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .contact-btn {
    padding: 12px 18px;

    font-size: 15px;
    border-radius: 8px;
  }

  .view-donor {
    font-size: 18px;
    margin-top: 20px;
  }

  ================= FORM ================= form {
    gap: 16px;
  }

  form input,
  form select,
  form textarea {
    padding: 16px;

    font-size: 16px;

    border-radius: 8px;
  }

  form textarea {
    height: 130px;
  }

  .send-btn {
    padding: 16px;

    font-size: 18px;
    border-radius: 8px;
  }

  ================= FOOTER ================= .footer {
    padding: 35px 20px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .contact-text h3,
  .footer-links h3,
  .footer-social h3 {
    font-size: 24px;
  }

  .contact-text p,
  .links-wrapper ul li a,
  .footer-logo p {
    font-size: 17px;
  }

  .contact-text h2 {
    font-size: 28px;
  }

  .logo-box h2 {
    font-size: 30px;
  }

  .footer-logo span {
    font-size: 15px;
  }

  .social-icons a {
    width: 48px;
    height: 48px;

    font-size: 18px;
  }
}
=========================
  SMALL
  MOBILE
  =========================
  @media
  (max-width: 480px) {
  .hero-left h1 {
    font-size: 34px;
  }

  .hero-right img {
    max-width: 240px;
  }

  .nav-links {
    gap: 12px;
  }

  .nav-links a {
    font-size: 13px;
  }

  .filter-buttons {
    justify-content: center;
  }

  .filter-buttons button {
    min-width: 60px;
  }

  .donor-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-btn {
    width: 100%;
  }
} */
